{namespace in=Inouit\InNews\ViewHelpers}


<div class="news-item">
  <h3><f:link.page pageUid="{newsItem.uid}">{newsItem.title}</f:link.page></h3>

  <f:render partial="News/categories" arguments="{items: newsItem.categories, settings:settings}" />

  <!--f:render partial="News/date" arguments="{items: newsItem, settings:settings}" /-->
  <p>++<in:news.date news="{newsItem}"/>--</p>

  <f:if condition="{newsItem.media}">
    <f:image src="{newsItem.media.uid}" alt="{newsItem.title}" width="150" height="100m" treatIdAsReference="1" />
  </f:if>
  <p class="teaser">{newsItem.teaser}</p>
</div>