{namespace in=Tx_InNews_ViewHelpers}

<f:if condition="{categories}">
	<f:then>
		<f:render section="categoryList" arguments="{categories:categories}"/>
	</f:then>
</f:if>


<f:section name="categoryList">
	<ul>
		<f:for each="{categories}" as="category">
			<li>
				<in:link.category category="{category}">{category.title}</in:link.category>
				<f:if condition="{category.children}">
					<f:then>
						<f:render section="categoryList" arguments="{categories:category.children}"/>
					</f:then>
				</f:if>
			</li>
		</f:for>
	</ul>
</f:section>